[program:ats-gateway]
user = {{deploy_user}}
command = /usr/local/openresty/nginx/sbin/nginx -p {{service}} -c conf/nginx.conf
environment = {{ service_environment | to_supervisor_environment }}
autostart = true
autorestart = true
stdout_logfile = {{log_dir}}/%(program_name)s.log
redirect_stderr = true
umask = 077
