{
  "backend": {
    "protocol": "https",
    "host": "{{ services.ats_gateway.hostname or hostvars['ats']['ip_floating'] }}",
    "port": {{ services.ats_gateway.port }},
    "timeout": 5000
  },
  "userHome": "projects",
  "debug": true
}
