{
  "dns": ["8.8.8.8", "8.8.4.4"],
  "storage-driver": "aufs",
  "mtu": 1400,
  "graph": "/data/docker",
  "hosts": {{ docker_hosts | to_json }},
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5"
  }
}
